# requirements.txt
# Web Framework & Server
fastapi==0.127.0
uvicorn==0.40.0
python-dotenv==1.2.1

# AI SDKs
openai==2.14.0

# Google Auth & API (for Gmail API only)
google-api-python-client==2.187.0
google-auth-oauthlib==1.2.3
google-auth==2.45.0

# Database & Logic
SQLAlchemy==2.0.45
psycopg2-binary==2.9.11
alembic==1.17.2
pydantic==2.12.5
pydantic-settings==2.12.0

# Helpers
requests==2.32.5